html, body, #map, #wrapper {
    height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
	top: 0px;
	z-index: 1;
}

.notification {
    width:200px;
    height:20px;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-100px;
    bottom:50%;
    z-index:100;
    background-color: #383838;
    background-color:#4285f4;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 25px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

.standardbutton {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 12px;
    border-radius:2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight:bold;
	font-family: helvetica, arial, sans-serif;
}

.standardAdminbutton {
	background-color: #4285f4; /* Blue */
    border: none;
    border-radius:2px;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight:bold;
	font-family: helvetica, arial, sans-serif;
}


.standardNegativebutton {
	background-color: #e32636; /* Red */
    border: none;
    color: white;
    border-radius:2px;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight:bold;
	font-family: helvetica, arial, sans-serif;
}

.standardMutebutton {
	background-color: #D3D3D3; /* Grey */
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 13px;
    font-weight:bold;
	font-family: helvetica, arial, sans-serif;
}


#floating-panel {
        position: absolute;
        margin-top: 10px;
        margin-left: 20%;
        z-index: 5;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
}
 
#admin-floating-panel {
	    position: absolute;
        margin-top: 10px;
        margin-left: 50%;
        z-index: 5;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
}
     
#search {
	position: absolute;
	top: 0px;
	z-index: 5;
	margin-top: 80px;
	margin-left: 10px;
	box-shadow: 10px 10px 5px #888888;
	background-color: white;
	padding: 10px;
}

#logo {
	position: absolute;
	top: 10px;
	right:10px;
	z-index: 5;
	height:100px;
	width: 100px;
}

#search-text {
	padding: 7px;
	border:none;
}

#search-button {
	height:100%;
	padding:3px;
}


ul{ 
	padding:0pt;
	overflow: auto;
}

h1 {
	margin-bottom: 0;
	font-size: 1.17em;
}

p {
	margin-top: 0;
}

.container{
	width:700px;
	margin:100px auto;
}

.name {
	font-size: 14px;
	color: #333;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
}

.userdetails {
	font-size: 12px;
	color: #999;
	font-family: helvetica, arial, sans-serif;
	font-weight: normal;
}

#searchInput
{
	width:350px;
	border:solid 1px #dedede;
	padding:3px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-top-right-radius: 6px;
	-moz-border-top-left-radius: 6px;
	box-shadow: 0px 0px 5px #999;
	border-width: 1px 1px 0px;
	border-style: solid;
	border-color: #efefef #DEDEDE #DEDEDE;
	background-color: white;
}

#divResult
{
	display:none;
	margin-top:-1px;
	border:solid 1px #ffffff;
	border-top:0px;
	overflow:hidden;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	/*box-shadow: 0px 0px 5px #999;*/
	border-width: 0px 0px 0px;
	border-style: solid;
	border-color: #eeeeee #DEDEDE #DEDEDE;
	background-color: white;
}

#divResult ul li {
	list-style-type:none;
	padding:4px; 
	border-top:solid 0px #dedede; 
	height:40px;
}

#divResult ul li:hover {
	cursor: pointer;
}

#divResult ul li.selected {
	background:#ecf0f7;
	color:#FFFFFF;
	cursor:pointer;
}

#divResult div#search-footer {
	height: 15px;
	text-align: center;
	padding: 5px 0 10px 0;
	color: #4080ff;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	margin-top: 8px;
	/*background-color:#e2e2e2;*/ 
}

#divResult ul li img.profile_image {
	width:35px; height:40px; float:left; margin-right:6px;
}